/**{ 
	text-decoration:overline;
	
} */


body {	color: green; 
	background-color: #a2c3ce;
	/*background-image: url("img/auto1.jpg") ;*/
	background-repeat: repeat;
	background-position: 20px 20px;
	
	
	/*background: #a2c3ce url("img/auto.jpg") repeat left top;*/
	


}

	.header-main {
		width: 100%;
		height: 50px;
		background-color: rgb(124, 30, 30);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.header-main .div  {
		height: 45px;
	}
.header-main .div-1 {
	background-color:#ca521d;
	width: 300;

}
.header-main .div-2{
	background-color:#06053f;
	width: 300;
}
.header-main .div-3{
	background-color:#130f0f;
	width: 300;


}




p{
	color: #ca521d;
	font-size: 20px;
	font-family: "Italic bold", serif,"Times New Roman", Arial, serif;
	text-indent: 20px;	
	/*text-transform: uppercase;*/
	line-height: 1px;
	word-spacing: 1px;
}

h1, h2 {
	color: #666;
	font-size: 32px;
	font-family: verdana, Lucida, Arial, serif;
	text-align: center;
	text-decoration: underline; /* Kommentointi*/
	letter-spacing: 10px;
	background-color:#430b0b;
}




h1{
	color:#000;
	font-size: 2em;
	font-family: verdana, Lucida, Arial, serif;
	text-align: center;
	text-decoration: underline; /* Kommentointi*/
	letter-spacing: 2px;
	
}

h2 { 	
	font-family: italic, serif;
	/*font-size: 3em;*/

}

h3 {	border-style: inset;
}

a  { 
	color:#42a795
}
a:hover, a:focus {

	color:blue;	
}

a:active {
	background-color: yellow;
}

/*a:visited {
	color: pink;	
}*/


img {
	border-style: dashed;
	border-color: green;
	border-width: thick;
	
}

ol {	border-style: inset;
	font-weight: bold;
	font-family: Lucida, Helvetica, serif;
}

dl { 	
	color: #e96f4b;
	font-style: italic;
	font-size: 1em;

}



li {

	color: #666;
	font-family: georgia, serif;
	font-size: 16px;
	list-style-type: upper-roman;
}


.logo {
	text-align:center;
}

.nav {
	text-align: center; /* kuva hunt*/

}

.footer {
	 background-color: yellow;
 	 font-size: 11px;
}

